vhdl/share/
*.dch~
*.raw
*.log
*.png
*.bak
*work/
*.gbr
*db/
*output_files/
*.7z
*.zip
*.dchb0
*.drl
*.step
*.stl
*.dot
*.vcd
*_synth.v
*_ilang.txt
*.svg
*.txt
*.o
*.a
*.kicad_sch-bak
*conflicted copy*.sv
rtl/firmware.sv
rtl/firmware.hex
run/*.json
*.dip~
